<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>
<link rel="stylesheet" href="">
<body>
<div id="payment-method"></div>
<div id="agreement"></div>
<div style="text-align: center; width: 100%;">
    <button id="payment-button" style="
        background-color: #007BFF;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        width: 500px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, box-shadow 0.3s;">
        결제하기
    </button>
</div>

<script>
    var tossPaymentsClientKey = "{{ toss_payments_client_key }}";
    const button = document.getElementById("payment-button");
    const amount = {{ total_price }};
    const widgetClientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const customerKey = "{{ order_id }}";
    const paymentWidget = PaymentWidget(widgetClientKey, customerKey);

    paymentWidget.renderPaymentMethods("#payment-method", { value: amount });
    paymentWidget.renderAgreement("#agreement");

    button.addEventListener("click", function () {
        paymentWidget.requestPayment({
            orderId: "{{ order_id }}",
            orderName: "{{ item.artCd }}"
            successUrl: window.location.origin + "/success/",
            failUrl: window.location.origin + "/fail",
            customerEmail: "{{ email }}",
            customerName: "{{ name }}",
            customerMobilePhone: "{{ phone }}",
        });
    });
</script>
</body>
</html>
