<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
</head>
<body>
<h2>결제 성공</h2>
<p id="paymentKey"></p>
<p id="orderId"></p>
<p id="amount"></p>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const paymentKey = urlParams.get("paymentKey");
    const orderId = urlParams.get("orderId");
    const amount = urlParams.get("amount");

    async function confirm() {
        const requestData = { paymentKey, orderId, amount };

        const response = await fetch("/confirm", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestData),
        });

        const json = await response.json();

        if (!response.ok) {
            console.log(json);
            window.location.href = `/fail?message=${json.message}&code=${json.code}`;
        }

        console.log(json);
    }

    confirm();

    document.getElementById("paymentKey").textContent = `paymentKey: ${paymentKey}`;
    document.getElementById("orderId").textContent = `주문번호: ${orderId}`;
    document.getElementById("amount").textContent = `결제 금액: ${amount}`;
</script>
</body>
</html>
