<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
    />
    <title>In site Art Gallery</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}"
    />
  </head>

  <body>
    <div id="container">
      <header id="header">
        <div class="header_wrap">
          <h2 id="logo">
            <a href="#">In site Art Gallery</a>
          </h2>

          <div class="search_wrap">
            <form action="">
              <div class="search_icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
              <input type="text" placeholder="검색어를 입려해주세요" />
              <button type="submit"></button>
            </form>
          </div>

          <div class="account">
            <ul>
              <li>
                <a href="#"><i class="fa-solid fa-user"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-bars"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <nav>
        <div class="nav_wrap">
          <div class="hastag">
            <ul>
              <li><a href="#">Sea</a></li>
              <li><a href="#">Sun/Sunset</a></li>
              <li><a href="#">Portrait</a></li>
              <li><a href="#">Downtown</a></li>
              <li><a href="#">Plant/Flower</a></li>
            </ul>
          </div>
        </div>
      </nav>

      {% block content %} {% endblock %}

      <footer>
        <div class="footer_wrap">
          <div class="SNS">
            <ul>
              <li>
                <a href="#"
                  ><i class="fa-brands fa-square-instagram"></i>Instagram</a
                >
              </li>
              <li>
                <a href=""><i class="fa-brands fa-facebook"></i>Facebook</a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-x-twitter"></i>twitter</a>
              </li>
              <li>
                <a href=""><i class="fa-solid fa-envelope"></i>Contect</a>
              </li>
            </ul>
          </div>
          <div class="footer_content">
            <p>상호 : <span>In site Art Gallery</span></p>
            <p>대표 : <span>양혜지</span></p>
            <p>주소 : <span>서울시 강동구 천호동 892-224</span></p>
            <p>개인정보관리책임자 : <span>이주형(example@test.com)</span></p>
            <p>사업자 등록번호 : <span>284919-429282</span></p>
          </div>
        </div>
      </footer>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
