{% extends 'index.html' %}
{% block content %}
<div>
    <ul>
      {% for image_info in image_info_list %}
      <li>
        <strong>작품 일련번호:</strong> {{ image_info.artCd }} <br />
        <strong>작품명:</strong> {{ image_info.art_name }}<br />
        <strong>작품가격:</strong> {{ image_info.price }}<br />
        <strong>파일명:</strong> {{ image_info.file_name|slice:":4" }}<br />
        <strong>카테고리: </strong> {{ image_info.categry }} <br />
        <!-- 파일명에서 앞 4글자만 출력 -->
        <strong>작품크기:</strong> {{ image_info.art_width }} x {{ image_info.art_vrticl}}<br />
        <strong>이미지:</strong><br />
        <img
          src="{{ image_info.file_url }}"
          alt="{{ image_info.art_name }}"
          style="max-width: 300px"
        /><br />
        <!-- 이미지 URL을 표시 -->
        <strong>파일 URL:</strong>
        <a href="{{ image_info.file_url }}">{{ image_info.file_url }}</a>
        <br /><br />
      </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}