{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="order_container">
        <div class="order_wrap">
            <h2 class="logo">
                <a href="#">In site Art Gallery</a>
            </h2>
            <form method="post" id="signup_form">
                {% csrf_token %}
                {{ order_form.artCd.as_hidden }}
                {{ order_form.art_name.as_hidden }}
                {{ order_form.quantity.as_hidden }}
                {{ order_form.price.as_hidden }}
                {{ order_form.image_url.as_hidden }}
                {{ order_form.user.as_hidden }}

                <div class="order_name_box">
                    {{ order_form.name }}
                </div>

                <div class="signup_email_box">
                    {{ order_form.email_name }}
                </div>

                <div class="signup_phone_box">
                    {{ order_form.phone1 }}-
                    {{ order_form.phone2 }}-
                    {{ order_form.phone3 }}
                </div>

                <div class="signup_address_box">
                    {{ order_form.address }}
                </div>

                <div class="signup_btn_box">
                    <button type="submit">회원가입</button>
                    <button>돌아가기</button>
                </div>

            </form>
        </div>
    </div>
</section>
{% endblock %}
