{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>주문 정보 입력</h1>
    <hr>
    <form method="post" action="{% url 'order_page' %}" id="order_form">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr class="table-active">
                    <td colspan="6" >주문할 제품</td>
                </tr>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">작품명</th>
                  <th scope="col">삭제</th>
                  <th scope="col">가격</th>
                </tr>
            </thead>
            <tbody>
            {% for item in cart_items %}

                <td>
                    <img src="{{ item.image_url }}" alt="{{ art_name }}" style="max-width: 150px;">
                </td>
                <td class="align-middle">{{ item.art_name }}</td>
                <td class="align-middle">
                    <form action="{% url 'cart_remove'%}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="artCd" value="{{ item.artCd }}">
                        <input type="submit" class="btn btn-outline-secondary" value="삭제">
                    </form>
                </td>
                <td class="num align-middle">${{ item.price }}</td>
            </tr>
            {% endfor %}
              <tr class="table-active">
                    <td>합계</td>
                    <td colspan="2"></td>
                    <td class="num">${{ total_price }}</td>
                </tr>
          </tbody>
        </table>

        <hr>
        <h3>주문자 정보</h3>
        <hr>
        <div class="mb-2">
            <label class="form-label">이름</label>
            {{order_form.name}}
        </div>
        <div class="mb-3">
            <label class="form-label">전화번호</label>
            {{order_form.phone}}
        </div>
        <div class="mb-3">
            <label class="form-label">이메일 주소</label>
            {{order_form.email}}
        </div>
        <div class="mb-3">
            <label class="form-label">배송지 주소</label>
            {{order_form.address}}
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary">결제하기</button>
            <a href="javascript:history.back()"><button class="btn btn-primary" type="button">주문 취소</button></a>
        </div>
    </form>
</div>
<br>
{% endblock %}
