{% extends 'index.html' %}
{% block content %}
{% if art_list %}
<h2>검색 결과</h2>
<ul>
    {% for art in art_list %}
    <li>
        <p><strong>일련번호 :</strong>{{ art.artCd }}</p>
        <p><strong>작품명 :</strong>{{ art.art_name }}</p>
        <p><strong>작가명 :</strong>{{ art.fileNm|slice:":4" }}</p>
        <p><strong>작품가격 :</strong>{{ art.price }}</p>
        <p>이미지:
            {% if art.image_url %}
            <img src="{{ art.image_url }}" alt="작품 이미지">
            {% else %}
            이미지 없음
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>검색된 작품이 없습니다.</p>
{% endif %}
{% endblock %}