{% extends 'base.html' %}
{% block content %}
<section id="account_container">
    <div class="account_wrap">
            <form method="post">
                {% csrf_token %}
                <table class="table">
                  <thead>
                      <tr>
                           <th></th>
                      </tr>
                    <tr>
                        <strong>내 정보</strong>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                          아이디 변경 :
                          {{ user_form.username }}
                      </th>
                    </tr>
                    <tr>
                      <th scope="row">
                          이메일 변경 :
                          {{ user_form.email }}
                      </th>
                    </tr>
                  <tr>
                      <th scope="row">
                          전화번호 변경 :
                          {{ profile_form.phone_number }}
                      </th>
                    </tr>
                  <tr>
                      <th scope="row">
                          상세 주소 변경 :
                          {{ profile_form.address }}
                      </th>
                    </tr>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-primary">회원 정보 수정하기</button>
            </form>
            <br>
            <a href="{% url 'account_change_password' %}"><button class="btn btn-primary">비밀 번호 변경하기</button></a>
        </div>

</section>

{% endblock %}